{
  "openapi": "3.0.3",
  "info": {
    "title": "Cisco XDR Automation API",
    "version": "1.0.0",
    "description": "Pinned Cisco XDR Automation API slice derived from the public DevNet documentation."
  },
  "servers": [
    {
      "url": "https://automate.us.security.cisco.com/api"
    }
  ],
  "security": [
    {
      "oAuth2": []
    }
  ],
  "paths": {
    "/v1/workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "List workflows",
        "description": "Derived from the public Cisco XDR Automation API docs for listing workflows.",
        "operationId": "listWorkflows",
        "parameters": [
          {
            "name": "is_atomic",
            "in": "query",
            "description": "Provide true to limit results to atomic workflows.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Comma-separated category names to filter by.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflows returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workflow"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Create workflow",
        "description": "Derived from the public Cisco XDR Automation API docs for creating workflow definitions.",
        "operationId": "createWorkflow",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workflow created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/v1/workflows/start": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Start workflow execution",
        "description": "Derived from the public Cisco XDR Automation API docs for starting a workflow.",
        "operationId": "startWorkflow",
        "parameters": [
          {
            "name": "workflow_id",
            "in": "query",
            "description": "Workflow ID to start.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unique_name",
            "in": "query",
            "description": "Workflow unique name to start.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sync",
            "in": "query",
            "description": "Run synchronously when true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "async",
            "in": "query",
            "description": "Run asynchronously when true.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow run completed or current run state returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkflowRun"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Workflow run accepted and still in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkflowRun"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/v1/workflows/summary": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get workflow summary",
        "description": "Lightweight summary endpoint used to validate Cisco XDR OAuth credentials.",
        "operationId": "getWorkflowSummary",
        "responses": {
          "200": {
            "description": "Workflow summary returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/v1/targets": {
      "get": {
        "tags": [
          "Targets"
        ],
        "summary": "List targets",
        "description": "Derived from the public Cisco XDR Automation API docs for listing targets.",
        "operationId": "listTargets",
        "parameters": [
          {
            "name": "is_internal",
            "in": "query",
            "description": "Include internal schemas when true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma-separated target types to filter by.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Targets returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Target"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Targets"
        ],
        "summary": "Create target",
        "description": "Derived from the public Cisco XDR Automation API docs for creating targets.",
        "operationId": "createTarget",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Target created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Target"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "409": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/v1/targets/validate": {
      "post": {
        "tags": [
          "Targets"
        ],
        "summary": "Validate targets",
        "description": "Derived from the public Cisco XDR Automation API docs for target validation.",
        "operationId": "validateTargets",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetValidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation results returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "409": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://visibility.amp.cisco.com/iroh/oauth2/token",
            "scopes": {
              "ao": "Cisco XDR Automation API access"
            }
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Generic Cisco XDR error response."
      }
    },
    "schemas": {
      "StatusDetails": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string"
          },
          "prev_state": {
            "type": "string"
          },
          "details": {
            "$ref": "#/components/schemas/StatusDetails"
          }
        }
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "unique_name": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "valid": {
            "type": "boolean"
          },
          "workflow_valid": {
            "type": "boolean"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "WorkflowCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "properties"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "unique_name": {
            "type": "string"
          },
          "schema_id": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "WorkflowRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "definition_id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "VariableInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "StartWorkflowRequest": {
        "type": "object",
        "properties": {
          "input_variables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VariableInput"
            }
          },
          "intent_config": {
            "type": "object",
            "additionalProperties": true
          },
          "runtime_user_id": {
            "type": "string"
          },
          "start_point": {
            "type": "string"
          },
          "target_id": {
            "type": "string"
          }
        }
      },
      "Target": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "unique_name": {
            "type": "string"
          },
          "schema_id": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "TargetCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "properties"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "unique_name": {
            "type": "string"
          },
          "schema_id": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "TargetValidateRequest": {
        "type": "object",
        "properties": {
          "target_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
